 <div class="sauna">
   <header class="header">
      <div class="header-left">
        <h1 class="title">sauna.life</h1>
      </div>
      <div class="header-right">

        <ul class="center-lists">
          <li>
          <%= link_to "サ活投稿" , class:"post" %>
          <%= link_to "サウナ辞書", class:"post"%>
          </li>
        </ul>

        <ul class="right-lists">
          <li>
            <%= link_to "ログイン", new_user_session_path, class:"post" %>
            <%= link_to "新規登録", new_user_registration_path, class:"post" %>
          </li>
        </ul>

        <div class="start">
          <%# <%= link_to :hoge ,class:"post"%> 
          <%# <%= link_to :hoge ,class:"post"%> 
        </div>

      </div>
   </header>
   <div class="content">
     <div class="content-image">
       <%= image_tag "iStock-1163221036.jpg"%>
     </div>
   </div>
   </div>