 <div class="sauna">
   <header class="header">
      <div class="header-left">
        <h1 class="title">Sauna.Life</h1>
      </div>
      <div class="header-right">
        <ul class="header-list">
          <li><%= link_to image_tag("サウナアイコン　ログイン.png")%></li>
          <li><%= link_to image_tag("サインイン22069792.png")%></li>
        </ul>
      </div>
   </header>
   <div class="content">
     <div class="content-image">
       <%= image_tag "iStock-1163221036.jpg"%>
       <p class=content-left><%= link_to"サウナ辞書"%></p> 
       <p class=content-right><%= link_to"サ活　投稿"%></p> 
     </div>
   </div>
   </div>